
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Kurale&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    text-align: center;
    
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
}
.log{
    width: 150px;
    position: relative;
    bottom: 25px;
    right: 800px;
}
.heading{
    font-family: "Geologica", sans-serif;
    font-weight: bold;
    font-size: 75px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.subheading{
    font-size: 24px;
    font-family: "Geologica", sans-serif;
    font-weight: bold;
    margin-left: 60px;
}

.lowheading{
    font-size: 24px;
    font-family: "Geologica", sans-serif;
    font-weight: bold;
    margin-left: 60px;
}

.green{
    font-weight: bold;
   color: darkgreen;
}

.p1{
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
}
.p2{
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 150px;
    
}
.p3{
    font-size: large;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-left: 250px;
    margin-right: 200px;
}