@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    background-color: #FF5152;
}

#grid-container{
    width: 90vw auto;
    height: 95vh auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #0C1824;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.item{
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: small;
    font-weight: 700;
    border: 5px solid black;
}

img{
    width: 150px;
}

.desc{
    text-align: justify;
    line-height:  1.5;
}

#sage{
    background-color: #484D61;
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
}
#omen{
    background-color: #56598E;
    color: white;
}

#jett{
    background-color: #DF8291;
    
}
#killjoy{
    background-color: #F5D95C;
    grid-column: 2/4;
    grid-row: 2/3;
}
#viper{
    background-color: #76C162;
    grid-column: 4/5;
    grid-row: 1/3;
}

#sage .details, 
#killjoy .details
{
    flex-direction: row;
}

@media (max-width: 1200px) {
    #grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #sage{
        background-color: #484D61;
        grid-column: 1;
        grid-row: 1;
    }
    #omen{
        background-color: #56598E;
        grid-column: 2;
        grid-row: 1;
    }
    #jett{
        background-color: #DF8291;
        grid-column: 1;
        grid-row: 2;
    }
    #killjoy{
        background-color: #F5D95C;
        grid-column: 2;
        grid-row: 2;
    }
    #viper{
        background-color: #76C162;
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #viper .details{
        flex-direction: column;
        gap: 10px;
    }
    #killjoy .details{
    flex-direction: column;
}
    #viper .details{
    flex-direction: row;
}
    #sage .details{
    flex-direction: column;
    }
}

@media (max-width: 800px) {
    #grid-container {
        grid-template-columns: 1fr;
    }
    #sage{
        background-color: #484D61;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #omen{
        background-color: #56598E;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #jett{
        background-color: #DF8291;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #killjoy{
        background-color: #F5D95C;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #viper{
        background-color: #76C162;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #viper .details{
        flex-direction: column;
        gap: 10px;
    }
    #sage .details{
        flex-direction: column;
    }
}